.is-head-left-logo .gh-head-inner {
  grid-template-columns: 1fr 50% 1fr;
}

.gh-head-logo {
  font-size: 2.2rem;
  font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  #gh-head {
    height: 150px;
  }
  .gh-head-logo img {
    max-height: 150px;
  }
}

@media (min-width: 992px) {
  .gh-head {
    height: 200px;
  }

  .gh-head-logo img {
    max-height: 200px;
  }
  .is-head-left-logo .gh-head-menu {
    justify-content: center;
    margin: 0;
  }

  li.nav-about {
    font-size: 3.2rem;
  }
}
